body {
    text-align: center;
}

div {
    width: 50px;
    height: 150px;
    border: 2px solid black;
    display: inline-block;
}

.container {
    width: 600px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

}

#box1 {
    background-color: aqua;
}
#box2 {
    background-color: gray;
}
#box3 {
    background-color: goldenrod;
}
#box4 {
    background-color: red;
}
#box5 {
    background-color: rebeccapurple;
}